.header-container{
    display: flex;
    background-color:#01103a;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}
.header-container img{
    width: 50px;
    height: 50px;
}

nav a{
    text-decoration: none;
    font-size:18px;
    padding-right: 20px;
    color: white;
}